*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.cuadro
{
    width: 400px;
    height: 400px;
    background-color: gray;
    color: gray;
    position: relative;/*se mueve por donde quiere y deja el espacio que le fue asignado*/
}
.circulo
{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    background-color: greenyellow;
    color: greenyellow;
   /* position: relative;
    font-size: 3px;
/*    bottom: 100px; /*posicion funciona al reves, si le pides que suba le usas botton que a sido utilizado para bajar*/
  /*  left: 400px;/*este te manda a la derecha*/
   /* position: fixed; /*sirve para fijar la posicion del elemento y lo demas se mueve con el escroli*/
   /* bottom: 78%;
    left: 89%;*/
    position: absolute; /*se mueve dentro del contenedor padre*/
    left: 50%;
    top: 50%;
}
/*
.cuadro1
{
    width: 200px;
    height: 200px;
    background-color: gray;
    color: gray;
}*/
p{
    font-size: 60px;
}
h1
{
    background-color: aquamarine;
    position: sticky;/*tengo que decirle en donde quiero que quede fijo miemtras me muevo con el escroli el resto de la página*/
    top: 0px;
}